<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title compass
		link(rel="stylesheet", href="css/all.css")
	body

	//- script(src="js/vendors.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="https://d3js.org/d3.v3.min.js")
	//- script(src='js/d3.v3.min.js')
	script(src="js/d3.qq.min.js")
	script(src="js/compass.js")
	//- script(src="js/compass2.js")


