<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title D3js_ch09
		link(rel="stylesheet", href="css/all.css")
	body

	script(src="js/vendors.js")
	script(src="js/d3js_ch09.js")


