<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title D3js_ch08
		link(rel="stylesheet", href="css/all.css")
	body
		div(style="padding:50px; background-color: silver;")
	script(src="js/vendors.js")
	script(src="js/d3js_ch08.js")


