<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title D3js_ch04
		link(rel="stylesheet", href="css/all.css")
	body
		.box
		ul.list
			li
			li
			li
		button.roller-add.btn.btn-primary
			| add bar
		button.roller-sort.btn.btn-secondary
			| sort bar

	script(src="js/vendors.js")
	script(src="js/d3js_ch04.js")


