<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title D3js_ch07
		link(rel="stylesheet", href="css/all.css")
	body
		.btn-group
			button.roller-btn1.btn.btn-primary
				| update
			button.roller-btn2.btn.btn-primary
				| add
			button.roller-btn3.btn.btn-primary
				| delete
	script(src="js/vendors.js")
	script(src="js/d3js_ch07.js")


