<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Dreamer
		link(rel="stylesheet", href="css/all.css")
		<link rel="import" href="./html/text-fill.html">
	body
		.container.dreamer.pt-5.px-4.pb-4
			.row
				.col.topic.text-center.primaryFontColor
					h1 I'M A DREAMER
						span.display-3.d-block.secondFontColor BUT I'M NOT THE ONLY ONE
			.row(style="height: 300px;")
				.col-5
					.d-flex.flex-column.h-100
						.h-50
							ul.list-unstyled
								li
									text-fill(text="THE RECORD FOR")
								li LONGEST
								li SLEEP
								li 18 DAYS
								li 21 HOURS
								li AND 40 MINUTES
						.h-50.row
							.col-6
								ul.list-unstyled
									li PEOPLE DREAM
									li 1-2 HOURS
									li EVERY NIGHT
								ul.list-unstyled
									li THE LONGEST DREAMS
									li LAST 30-45 MINUTES
									li AND OCCUR IN THE
									li MORNINGS
							.col-6
								img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_06.jpg", alt="")
				.col-7.row
					.col-7
						img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_03.jpg", alt="")
					.col-5.h-100.d-flex.flex-column
						.h-25
							ul.list-unstyled
								li THE BLIND
								li DREAM
								li SOUND TACITILITY
								li AND SMELL
								li ARE HYPERSENSITIVE
						.h-25
							ul.list-unstyled
								li NEGATIVE EMOTIONS
								li ARE MORE PROMINENT
								li IN DREAMS THAN
								li POSITIVE ONES
						.h-50
							ul.list-unstyled
								li ONE THIRD
								li OF LIFE IS SPENT
								li SLEEPING
							ul.list-unstyled
								li 6 YEARS
								li OF LIFE IS SPENT
								li DREAMING
						
			.row(style="height: 300px;")
				.col-7.row
					.col-4.d-flex.flex-column.h-100
						.h-33
							ul.list-unstyled.col
								li DHILDREN BY THE
								li AGE OF TEN
								li DREAM 4-6 DAY & NIGHT
							ul.list-unstyled.col
								li CHILDREN DO NOT DREAM
								li ABOUT THEMSELVES UNTIL
								li THE AGE OF 3
						.h-33
							ul.list-unstyled.col
								li unlike adults who
								li dream a third
								li of the time they sleep
								li newborns spend
								li 50% - 80% of sleep
								li dreaming
						.h-33
							ul.list-unstyled.col
								li studies have proven
								li fetuses of nearly
								li 7 months
								li of potenttially younger
								li have the capability
								li to dream
								li withen the mothers woms
					.col-8
						img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_11.jpg", alt="")
				.col-5
					.row
						ul.list-unstyled.col
							li brain waves
							li are more active
							li when we dream
							li than when we are awake
					.row
						.col-5
						.col-5
							ul.list-unstyled
								li of americans
								li experience
								li deja vu
								li in dreams
								li more often in
								li females
			.row(style="height: 150px;")
				.col-9
					.row
						.col-3
							ul.list-unstyled
								li we only dream
								li fo what we know
								li every face
								li in a dream is one
								li you have seen
								li in your lifetime
							ul.list-unstyled
								li our body is
								li virtually paralyzed
								li during your sleep
								li to prevent the body
								li from acting out
								li your dreams
						.col-6
							img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_19.jpg", alt="")
						.col-3
							ul.list-unstyled
								li sleep strengthens
								li memory
								li and extracts
								li information
								li from within the day
							ul.list-unstyled
								li the longest dreams
								li last 10-45 minutes
								li and occur in the
								li mornings
				.col-3
					.row
						.col-9
							ul.list-unstyled
								li we need
								li dreams
								li for good
								li health
								li to prevent
								li psychosis
						.col-3
							img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_22.jpg", alt="")
			.row(style="height: 300px;")
				.col
					img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_27.jpg", alt="")
				.col.h-100
					.row.h-50
						.col-3
							img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_29.jpg", alt="")

						.col-6
							ul.list-unstyled
								li men tend to
								li dream about
								li other men
								li yet woman
								li dream equally of
								li woman and men
						.col-3
							img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_31.jpg", alt="")
					ul.list-unstyled.row.h-50
						li people who sleep
						li more than 9 hours
						li a day are more likely
						li to develop parkinsons disease
			.row(style="height: 300px;")
				ul.list-unstyled.col
					li the ability to control
					li out own dreams
					li while still asleep
					li lucid dreaming
					li about 50% of people
					li experience lucid dreaming
				.col
					.row
						.col-7
							img(src="./images/aHR0cCUzQSUyRiUyRnd3dy5uc21ibC5ubCUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxNCUyRjAzJTJGZHJvbWVuLmpwZw==_37.jpg", alt="")
						.col-5
							ul.list-unstyled
								li only 12%
								li of people dream in
								li black & white
							ul.list-unstyled
								li when you are
								li snoring
								li you are not
								li dreaming
							ul.list-unstyled
								li within 5 minutes
								li of waking up
								li half of your dallars
								li are forgotten
			.row
				.col.footy.text-center
					p.secondFontColor ALTHOUGH SOME DON'T KNOW IT,
						span.primaryFontColor EVERYBODY DREAMS
		script(src="js/vendors.js")
		script(src="js/all.js")


