<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Dreamer
		link(rel="stylesheet", href="css/all.css")
	body
		.container.dreamer.pt-5.px-4.pb-4
			.row
				.col.topic.text-center.primaryFontColor
					h1 I'M A DREAMER
						span.display-3.d-block.secondFontColor BUT I'M NOT THE ONLY ONE
			.row.bg-success
				.col-5.flex-column.bg-info
					.row
						ul
							li THE RECORD FOR
							li LONGEST
							li SLEEP
							li 18 DAYS
							li 21 HOURS
							li AND 40 MINUTES
					.row.bg-info
							ul
								li PEOPLE DREAM
								li 1-2 HOURS
								li EVERY NIGHT
							ul
								li THE LONGEST DREAMS
								li LAST 30-45 MINUTES
								li AND OCCUR IN THE
								li MORNINGS
				.col-7.bg-danger
					.row
						ul
							li THE BLIND
							li DREAM
							li SOUND TACITILITY
							li AND SMELL
							li ARE HYPERSENSITIVE
					.row
						ul
							li NEGATIVE EMOTIONS
							li ARE MORE PROMINENT
							li IN DREAMS THAN
							li POSITIVE ONES
					.row
						ul
							li ONE THIRD
							li OF LIFE IS SPENT
							li SLEEPING
						ul
							li 6 YEARS
							li OF LIFE IS SPENT
							li DREAMING
			.row.bg-warning
				.col-7.bg-info
					.row
						.col-4
							.row
								ul.col
									li DHILDREN BY THE
									li AGE OF TEN
									li DREAM 4-6 DAY & NIGHT
								ul.col
									li CHILDREN DO NOT DREAM
									li ABOUT THEMSELVES UNTIL
									li THE AGE OF 3
							.row
								ul.col
									li unlike adults who
									li dream a third
									li of the time they sleep
									li newborns spend
									li 50% - 80% of sleep
									li dreaming
							.row
								ul.col
									li studies have proven
									li fetuses of nearly
									li 7 months
									li of potenttially younger
									li have the capability
									li to dream
									li withen the mothers woms
						.col-8
							ul
								li children
								li newborn
								li seven
				.col-5.bg-danger
					.row
						ul.col
							li brain waves
							li are more active
							li when we dream
							li than when we are awake
					.row
						.col-5
						.col-5
							ul
								li of americans
								li experience
								li deja vu
								li in dreams
								li more often in
								li females
			.row.bg-success
				.col-9.bg-info
					.row
						.col-3
						.col-6
						.col-3
				.col-3.bg-danger
					.row
						.col-9
						.col-3
			.row.bg-warning
				.col.bg-info
					ul
						li 
						li
						li
						li
					ul
						li 40% of kids
						li dreams are
						li nightmares
					ul
						li dream xxx
						li last 10-15
						li minutes
					ul
						li humans xxx
						li 90 percent
						li of their dreams
				.col.bg-danger
					.row
						.col-3
						.col-6
							ul
								li men tend to
								li dream about
								li other men
								li yet woman
								li dream equally of
								li woman and men
						.col-3
					ul.row
						li people who sleep
						li more than 9 hours
						li a day are more likely
						li to develop parkinsons disease
			.row.bg-success
				ul.col.bg-info
					li the ability to control
					li out own dreams
					li while still asleep
					li lucid dreaming
					li about 50% of people
					li experience lucid dreaming
				.col.bg-danger
					.row
						.col-7
						.col-5
							ul
								li only 12%
								li of people dream in
								li black & white
							ul
								li when you are
								li snoring
								li you are not
								li dreaming
							ul
								li within 5 minutes
								li of waking up
								li half of your dallars
								li are forgotten
			.row
				.col.footy.text-center
					p.secondFontColor ALTHOUGH SOME DON'T KNOW IT,
						span.primaryFontColor EVERYBODY DREAMS
		script(src="js/all.js")
		script(src="js/vendors.js")


