<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title gooee
		link(rel="stylesheet", href="css/all.css")
	body
		svg
			//- 標記
			//- defs
			//- 	marker(id="arrow" markerUnits="userSpaceOnUse" markerWidth="32" markerHeight="32" viewBox="0 0 8 8" refX="4" refY="4" orient="auto")
			//- 		path(d="M2,2 L6,4 L2,6 L3,4 L2,2" style="fill: white;")

			//- line(x1="0" y1="0" x2="200" y2="50" stroke="red" stroke-width="2" marker-end="url(#arrow)" transform="translate(560, 620)")

			//- path(d="M20,70 T80,100 T160,80 T200,90" fill="white" stroke="red" stroke-width="2" marker-start="url(#arrow)" marker-mid="url(#arrow)" marker-end="url(#arrow)" transform="translate(660, 620)")
	script(src="js/vendors.js")
	//- script(src="js/d3-path-arrows.js")
	script(src="js/gooee.js")


