<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Roller Project
		link(rel="stylesheet", href="css/all.css")
	body
		.container
			div.col(style="background-color:#f00; height: 300px;")
			.row
				.col-lg-3.col-md-6.box.flex-row.d-flex
					p test1
					p test2
					p test3
						
				.col-lg-auto.box
					p test
				.col-lg-3.box
					p test
			.row.mt-3.no-gutters
				.col.box
					p test2
		script(src="js/all.js")
		script(src="js/vendors.js")


