<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Roller Project
		link(rel="stylesheet", href="css/all.css")
	body
		.container-fluid
			.row
				.roller-bgcolor1.col-6.d-flex.justify-content-center.align-items-center
					.d3logo.rounded-circle.d-flex.justify-content-center.align-items-center
						img(src="./images/Logo_D3.png", alt="d3logo")
				.roller-bgcolor2.col-6
	script(src="js/vendors.js")
	script(src="js/all.js")


