<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		title Roller Project
		link(rel="stylesheet", href="css/all.css")
		script(src="js/all.js")
		script(src="js/vendors.js")
	body
		br
		| Lorem ipsum 
		.alert.alert-success(role='alert')
			strong Well done!
			|  You successfully read this important alert message.
