<!DOCTYPE html>
html(lang="zh-Hang-TW")
	heads
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Pie Chart
		link(rel="stylesheet", href="css/all.css")
	body

	script(src="js/vendors.js")
	script(src="js/pie_chart.js")


