<!DOCTYPE html>
html(lang="zh-Hang-TW")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Dreamer
		link(rel="stylesheet", href="css/all.css")
		<link rel="import" href="./html/text-fill.html">
	body(style="background-color: #E9E6DE;")
		.container.my-5.roller-resume
			.row
				.col-4.roller-left.d-flex.flex-column
					.roller-head.align-self-center.border.border-primary
						img.rounded-circle(src='https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=img+placeholder')

				.col-8.roller-right
					| skill


	script(src="js/vendors.js")
	script(src="js/all.js")


