nav.roller-full.navbar.navbar-toggleable-md.navbar-light.bg-faded
	button.navbar-toggler.navbar-toggler-right.mt-4(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	a.navbar-brand(href='#').d-flex.justify-content-center
		img(src='images/triango/logoPic01.svg', alt='logoPic')
		img.hidden-xs-down.pl-3.align-self-end(src='images/triango/logo-color-font2.svg', alt='logoText')
		//- img.hidden-lg-up(src='images/triango/logoPic02.png', alt='logoPic')
		//- img.hidden-lg-up(src='images/triango/logoText02.png', alt='logoText')
	#navbarNav.collapse.navbar-collapse
		ul.navbar-nav.ml-auto.d-flex.align-items-baseline.justify-content-end
			li.nav-item.m-auto
				a.nav-link.h5.mb-0(href='walking.html') d3.js
			li.nav-item.m-auto
				a.nav-link.h5.mb-0(href='chord_diagram.html') chord_diagram
			//- li.nav-item.m-auto
			//- 	a.nav-link.disabled.h5.mb-0(href='#') 揪團
			//- li.nav-item.m-auto
			//- 	a.nav-link.disabled.h5.mb-0(href='#') 比賽資訊
			//- li.nav-item.m-auto
			//- 	a.nav-link.disabled.h5.mb-0(href='#') 新手教學
			//- li.nav-item.m-auto
			//- 	a.nav-link.disabled.h5.mb-0(href='#') 討論區
			li.nav-item.m-auto
				a.nav-link.disabled(href='#') 登入/註冊